@charset "UTF-8";

/* ==========================================================
   Impression
   ========================================================== */

@media print {

    body{
        background:#fff;
        color:#000;
    }

    header,
    nav,
    footer{
        display:none;
    }

    main{
        max-width:100%;
        margin:0;
        padding:0;
        box-shadow:none;
        border:none;
    }

    a{
        color:#000;
        text-decoration:none;
    }

    img{
        max-width:100%;
        height:auto;
        page-break-inside:avoid;
    }

    h2,
    h3{
        page-break-after:avoid;
    }

    table{
        page-break-inside:avoid;
    }

}
