<nav>
    <ul>
        <li><a class="actif" href="index.html">Accueil</a></li>
        <li><a href="ma_station.html">Station</a></li>
        <li><a href="en_travaux.html">Matériel</a></li>
        <li><a href="en_travaux.html">Antennes</a></li>
        <li><a href="en_travaux.html">Réalisations</a></li>
        <li><a href="trafic.html">Trafic</a></li>
        <li><a href="en_travaux.html">Documentation</a></li>
        <li><a href="en_travaux.html">Galerie</a></li>
        <li><a href="a_propos.html">À propos</a></li>
    </ul>
</nav>
