<nav>
    <ul>

        <!-- Accueil -->
        <li>
            <a{% if page.url == '/' or page.url == '/index.html' %} class="actif"{% endif %}
               href="{{ '/' | relative_url }}">Accueil</a>
        </li>

        <!-- Station -->
        <li>
            <a{% if page.url == '/ma_station.html' %} class="actif"{% endif %}
               href="{{ '/ma_station.html' | relative_url }}">Station</a>
        </li>

        <!-- Matériel -->
        <li>
            <a{% if page.url == '/en_travaux.html' %} class="actif"{% endif %}
               href="{{ '/en_travaux.html' | relative_url }}">Matériel</a>
        </li>

        <!-- Antennes -->
        <li>
            <a{% if page.url == '/en_travaux.html' %} class="actif"{% endif %}
               href="{{ '/en_travaux.html' | relative_url }}">Antennes</a>
        </li>

        <!-- Réalisations -->
        <li>
            <a{% if page.url == '/en_travaux.html' %} class="actif"{% endif %}
               href="{{ '/en_travaux.html' | relative_url }}">Réalisations</a>
        </li>

        <!-- Galerie -->
        <li>
            <a{% if page.url == '/galerie.html' %} class="actif"{% endif %}
               href="{{ '/galerie.html' | relative_url }}">Galerie</a>
        </li>

        <!-- Trafic -->
        <li>
            <a{% if page.url == '/trafic.html' %} class="actif"{% endif %}
               href="{{ '/trafic.html' | relative_url }}">Trafic</a>
        </li>

        <!-- Documentation -->
        <li class="menu-deroulant">
            <a href="#" tabindex="0"{% if page.url contains '/documents/' %} class="actif"{% endif %}>
                Documentation
            </a>

            <ul class="sous-menu">
                {% include recursive-menu.html tree=tree.Documentation %}
            </ul>
        </li>

        <!-- Contact -->
        <li>
            <a{% if page.url == '/contact.html' %} class="actif"{% endif %}
               href="{{ '/contact.html' | relative_url }}">Contact</a>
        </li>

    </ul>
</nav>
