<nav>
    <ul>
        <li><a class="actif" href="{{ '/index.html' | relative_url }}">Accueil</a></li>
        <li><a href="{{ '/ma_station.html' | relative_url }}">Station</a></li>
        <li><a href="{{ '/en_travaux.html' | relative_url }}">Matériel</a></li>
        <li><a href="{{ '/en_travaux.html' | relative_url }}">Antennes</a></li>
        <li><a href="{{ '/en_travaux.html' | relative_url }}">Réalisations</a></li>
        <li><a href="{{ '/trafic.html' | relative_url }}">Trafic</a></li>
        <li><a href="{{ '/en_travaux.html' | relative_url }}">Documentation</a></li>
        <li><a href="{{ '/en_travaux.html' | relative_url }}">Galerie</a></li>
        <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
    </ul>
</nav>
