{% for pair in include.tree %}
    {% assign key = pair[0] %}
    {% assign value = pair[1] %}

    {% if value contains "/" %}
        <!-- Fichier -->
        <li>
            <a href="{{ value | relative_url }}">
                {{ key | replace: ".md", "" | replace: "-", " " | capitalize }}
            </a>
        </li>

    {% else %}
        <!-- Dossier -->
        <li class="menu-deroulant">
            <a href="#" tabindex="0">
                {{ key | replace: "-", " " | capitalize }}
            </a>
            <ul class="sous-menu">
                {% include recursive-menu.html tree=value %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
