{% for key, value in include.tree %}
    {% if value contains "/" %}
        <li>
            <a href="{{ value | relative_url }}">
                {{ key | replace: ".md", "" | replace: "-", " " | capitalize }}
            </a>
        </li>
    {% else %}
        <li class="menu-deroulant">
            <a href="#" tabindex="0">
                {{ key | replace: "-", " " | capitalize }}
            </a>
            <ul class="sous-menu">
                {% include recursive-menu.html tree=value %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
