{% assign page_en_travaux = "/en_travaux.html" | relative_url %}

{% for noeud in include.noeuds %}

<li{% if noeud.enfants %} class="menu-deroulant"{% endif %}>

    {% if noeud.url %}

        {% assign cible = site.pages | where: "url", noeud.url | first %}

        <a href="{% if cible %}{{ noeud.url | relative_url }}{% else %}{{ page_en_travaux }}{% endif %}">
            {{ noeud.titre }}
        </a>

    {% else %}

        <a href="#" tabindex="0">
            {{ noeud.titre }}
        </a>

    {% endif %}

    {% if noeud.enfants %}
        <ul class="sous-menu">
            {% include recursive-menu.html noeuds=noeud.enfants %}
        </ul>
    {% endif %}

</li>

{% endfor %}
