@charset "UTF-8";

/* Caché sur ordinateur */

.menu-mobile-toggle{
    display:none;
}

/* Version mobile */

@media (max-width:768px){

    .menu-mobile-toggle{

        display:block;

        width:100%;

        padding:.8rem 1rem;

        border:none;

        background:#003366;

        color:white;

        font-size:1.1rem;

        text-align:left;

        cursor:pointer;
    }

}

